/* titles and text */
@font-face {
    font-family: "MyriadSetPro700";
    src: url("../font/Myriad Set Pro 700 Bold.ttf");
}
@font-face {
    font-family: "MyriadSetPro600";
    src: url("../font/Myriad Set Pro 600 Semibold.ttf");
}
@font-face {
    font-family: "MyriadSetPro400";
    src: url("../font/Myriad Set Pro 400 Text.ttf");
}
@font-face {
    font-family: "MyriadSetPro100";
    src: url("../font/Myriad Set Pro 100 Ultralight.ttf");
}
@font-face {
    font-family: "CenturyGothic";
    src: url("../font/Century Gothic Regular.ttf");
}
/* site/subsite name (eksempel "ansatte" eller "værdigrundlag") */
h1{
  font-family: "MyriadSetPro700";
  font-size: 2em;
  margin: 0;
}
/* underoverskrifter*/
h2{
  font-family: "MyriadSetPro600";
  font-size: 1.5em;
  margin: 0;
}
/* flere end 3 overskrifter på et site */
h3{
  font-family: "MyriadSetPro100";
  font-size: 2em;
  margin: 0;
}
h4{
  text-align: right;
  margin: 10px 10px 10px 0;
}
h5{

}
h6{

}

/* alt brødtext */
p{
  font-family: "MyriadSetPro600";
  font-size: 1em;
  margin: 0 10px 10px 0;
}

nav h2{
  font-family: "MyriadSetPro700";
  font-size: 2em;
  margin: 5px 0 5px 0;
  color: rgba(253, 248, 240, 1);
}

nav p{
  font-family: "MyriadSetPro600";
  font-size: 1em;
  margin: 0 10px 10px 0;
  color: rgba(125, 125, 125, 1);
}

/* colorschemes */
/* background-grey */
.color01{
  background-color: rgba(125, 125, 125, 1);
}
/* background-sand */
.color02{
    background-color: rgba(253, 248, 240, 1);
}
/* tile1 (index) */
.color1{
  background-color: rgba(190, 72, 131, 0.64);
}
/* tile2 (index) */
.color2{
  background-color: rgba(82, 212, 172, 0.64);
}
/* tile3 (index) */
.color3{
  background-color: rgba(255, 170, 85, 0.64);
}
/* tile4 (index) */
.color4{
  background-color: rgba(119, 168, 233, 0.64);
}

/* images */
img{
  width: 100%;
  height: 100%;
}
.image-fit{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* image for fronttiles */
/* top full width tile */
.image000{
background-image: url("../images/front-banner-på-tur.png");
}
/* second line tile 1 */
.image001{
  background-image: url("../images/tile1-aktivitet.jpg");
}
/* second line tile 2 */
.image002{
  z-index: -5;
  background-image: url("../images/tile2-hjælpe-hinanden.jpg");
}
/* second line tile 3 */
.image003{
  background-image: url("../images/tile3-skolebog.jpg");
}
/* banner images */
/* banner image for subsite "ansatte" */
.image004{
  background-image: url("../images/banner1-gruppe-læsning.jpg");
}
/* banner image for subsite "værdigrundlag" */
.image005{
}
/* banner image for subsite "indmeldelse" */
.image006{

}


/* website spacers */
/* spacer placing itself vertically, used for horizontal stacking */
.verticalspacer{
  width: 35px;
  height: 10px;
}
/* spacer placing itself horizontally, used for vertical spacing */
.horizontalspacer{
  height: 35px;
  width: 100%;
}
/* ----------------------------------------------------------------------*/
/* header */
header{
  width: 100%;
  min-height: 151px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}

nav{
  overflow: hidden;
}

nav a{
  float: left;
  color: pink;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-right: 1px solid rgba(253, 248, 240, 1);
}

nav a:last-child{
  border-right: none;
}

.skole{
  float: left;
  overflow: hidden;
}

.skole .dropbtn{
  color: red;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.skole:hover .dropdown-content{
  display: block;
}

.logo-tile{
 background-color: red;
 height: 120px;
 min-width: 120px;
 padding: 0 5px 0 5px;
}

.header-link-tile{
 width: 110px;
 height: 85px;
}

.header-link-tile a{
   color: rgba(253, 248, 240, 1);
}

.header-link-tile a:hover{
   color: rgba(247, 226, 196, 1);
}

.header-facebook-container{
  display: flex;
  text-decoration: none;
}

.header-intranet{
  display: flex;
  text-decoration: none;
}

/* footer */

.box{
  border: 0px;
  height: 10px;
  position: relative;
  width: 104;
  display: flex;


}

footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  min-height: 10px;
  background-color: rgba(253, 248, 240, 1);
  display: flex;
  padding: 0 10%;

}

.footertile{
  display: flex;
  flex: 1;
  flex-direction: column;


}

.button{
  background-color: rgba(125, 125, 125, 1);
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
}



/* ---------------------------------------------------------------------- */
/* universal modifiers */
.flex-direction-column{
  flex-direction: column;
}
.flex-direction-row{
  flex-direction: row;
}
body{
  margin: 0;
}
main{
  padding-left: 10%;
  padding-right: 10%;
}
.flex1{
  flex: 1;
}
.flex2{
  flex: 2;
}
.flex3{
  flex: 3;
}
.flex4{
  flex: 4;
}


/* tile building classes */
.tilecontainer{
  display: flex;
  min-height: 10px;
  width: 100%;
  flex-wrap: wrap;
}
.tile-full-width{
  position: relative;
  display: block;
  width: 100%;
  min-height: 10px;
}
.tile{
  position: relative;
  width: 200px;
  min-height: 10px;
}
.line{
  width: 100%;
  height: 2px;
}













/* ---------------------------------------------------------------------- */
/* posible junk solutions - keep this at bottom */
.height400{
  height: 400px;
}
.bottom000{
  position: absolute;
  bottom: 0px;
}
.height200{
  height: 200px;
}

.padding-left {
  padding-left: 10%;
}

.padding-right {
  padding-right: 10%;
}
.fullbox{
  top: -5px;
  width: 100%;
  height: 100%;
}
